@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root { 
    --color-1: #AEE1FC;
    --color-2: #60ABFB;
    --color-3: #3572EF;
    } 
body { 
    color: rgb(0, 26, 82);
    background-color: var(--color-1);
    font-family: funnel+display;
}
